
input.ng-invalid{
    border-left: 5px solid red;
    
}

input.ng-valid{
    border-left: 5px
    solid green;
    
}
.mid {
    margin-left: 25%;
}

button.listing-button {
    width: 50%!important;
    margin: 0px auto;
    display: table;
}
input[type=file] {
    display: block;
    margin: 0px auto;
    border-left:0px solid green!important;
}
span.span-diff {

    margin: 0px auto;
    display: table;
    position: relative;
    left: -10%;
}

